<div class="container my-5">
    <div class="row">
        <div class="col-sm-6">   <h1 class="mb-3">Products</h1></div>
        <div class="col-sm-6"><button class="btn btn-primary" (click)="addProduct()">Add products</button></div>

    </div>
 
    
    <table class="table" *ngIf="product">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of product">
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.price}}</td>  
             
            <td>
                <button class="btn btn-primary mx-2" (click)="editProduct(prod.id)"  >Edit</button>
                <button class="btn btn-danger" (click)="onDeleteClick(prod.id)">Delete Product</button>

            </td>
        </tr>
    </tbody>
    </table>
<p *ngIf="!product">No product found</p>
</div>